.flag {
    border: solid 1px #000;
    height: 60px;
    width: 100px;
}

.flag--france {
    background-color: #fff;
    background-image: linear-gradient(to right, blue 33.333%, white 33.333%, white 66.666%, red 66.666%);
}
