.flag {
  background-color: #fff;
  border: solid 1px #000;
  display: inline-block;
  height: 60px;
  width: 100px;
}

.flag--austria {
  background-color: #fff;
  background-image: linear-gradient(#ae001e 33.333%, white 33.333%, white 66.666%, #ae001e 66.666%);
}

.flag--botswana {
  background-color: #fff;
  background-image: linear-gradient(#5da8e9 37.8%, white 37.8%, white 44%, black 44%, black 56%, white 56%, white 62%, #5da8e9 62%);
}

.flag--bulgaria {
  background-image: linear-gradient(white 33.333%, green 33.333%, green 66.666%, red 66.666%);
}

.flag--england {
    background-image: linear-gradient(transparent 33.333%, red 33.333%, red 66.666%, transparent 66.666%), 
                      linear-gradient(to right, transparent 40%, red 40%, red 60%, transparent 60%);
}

.flag--finland {
    background-image: linear-gradient(transparent 33.333%, purple 33.333%, purple 66.666%, transparent 66.666%), 
                      linear-gradient(to right, transparent 25%, purple 25%, purple 45%, transparent 45%);
}

.flag--france {
  background-image: linear-gradient(to right, blue 33.333%, white 33.333%, white 66.666%, red 66.666%);
}

.flag--germany {
  background-image: linear-gradient(black 33.333%, red 33.333%, red 66.666%, yellow 66.666%);
}

.flag--italy {
  background-image: linear-gradient(to right, #009246 33.333%, white 33.333%, white 66.666%, #ce2b37 66.666%);
}

.flag--ireland {
  background-image: linear-gradient(to right, #009b48 33.333%, white 33.333%, white 66.666%, #ff7900 66.666%);
}

.flag--spain {
  background-image: linear-gradient(red 25%, yellow 25%, yellow 75%, red 75%);
}
